.Card_Footer{
    width: 100%;
    padding: 0.2em 5em 3em;
    background-color: #FAFAFA;
    margin-top: 20px;
}
.Footer_Cards_Title{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1em 0;
}
.Footer_Cards{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #f0f0f0;
    padding-top: 10px;
}
.Footer_Card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25%;
    border-radius: 20px;
    padding: 10px;
    &:hover {
        transition: all .2s ease;
        box-shadow: 0 0 10px rgba(33, 33, 33, 0.584);
    }
    & > img{
        border-radius: 20px;
        height: 11rem;
        object-fit: cover;
    }
}

.Footer_Card_Heading{
    font-size: 1rem;
    font-weight: 500;
    color: #404040;
    overflow: hidden;
    height: 4em;
}
.Footer_Card_Author_Details{
    display: flex;
    gap: 20px;
    & > img{
        width: 20%;
    }
    & span{
        font-size: .6rem;
        align-self: center;
        color: #a2a2a2;
    }
    & p{
        font-size: 1rem;
        color: #000;
    }
}

@media screen and (max-width: 900px){
    .Card_Footer{
        padding: 0.2em 2em 3em;
    }
    .Footer_Card{
        gap: 0.6em;
        & > img{
            height: 8rem;
        }
    }
    .Footer_Card_Heading{
        font-size: 0.8rem;
    }
    .Footer_Card_Author_Details{
        gap: 10px;
        & > img{
            width: 30%;
            /* height: 80%; */
        }
        & span{
            font-size: .5rem;
        }
        & p{
            font-size: 0.7rem;
        }
    }
}

@media only screen and (min-width:280px) and (max-width:555px){
    .Footer_Cards{
        flex-direction: column;
    }
    .Footer_Card{
        width: 100%;
        display: block;
        padding: 10px 0;
        & > img{
            float: right;
            height: 6rem;
            width: 30%;    
        }
    }
    .Footer_Card_Heading{
        font-size: 1rem;
        height: 3.8em;
        width: 70%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .Footer_Card_Author_Details{
        /* display: block; */
        /* height: 0em; */
        /* margin-top: -1em; */
        & > img{
            display: none;
        }
        & span{
            font-size: 0;
        }
        & p{
            font-size: 1.1rem;
            color: #a2a2a2;
        }
    }
}