.Logo{
    display: flex;
    justify-content: center;
}
.Logo>.left{
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    align-self: center;  
    font-size: 2em;
    padding-bottom: 5px;
}
.Logo>.right{
    font-size: 4.5em;
    font-weight: bolder;
}
.Navbar{
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(207, 202, 202);
    padding: 10px 0px;
    margin-bottom: 2em;
}