header{
    margin: auto;
    max-width: 80vw;
}
.Logo{
    display: flex;
    justify-content: center;
    & > .left{
        writing-mode: vertical-lr;
        transform: scale(-1, -1);
        align-self: center;  
        font-size: 2em;
        padding-bottom: 5px;
    }
    & >.right{
        font-size: 4.5em;
        font-weight: bolder;
    }
}
.Burger_Icon{
    display: none;
}
.Navbar{
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #d9d9d9;
    padding: 10px 0px;
    margin-bottom: 2em;
}


@media screen and (max-width: 900px){
    header{
        max-width: 90vw;
    }
    .Logo{
        & > .left{
            font-size: 1.5em;
        }
        & >.right{
            font-size: 3.5em;
        }
    }
    .Navbar{
        font-size: 1em;
    }
}

@media only screen and (min-width:350px) and (max-width:555px){
    header{
        max-width: 100%;
        border-bottom: 2px solid #dcdcdc;
        box-shadow: 0 0 5px gray;
    }
    .Responsive_Bar{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        box-shadow: 0 0 5px gray;
    }
    .Logo{
        & > .left{
            font-size: 1em;
        }
        & >.right{
            font-size: 2.5em;
        }
    }
    .Burger_Icon{
        display: block;
        align-self: center;
    }
    .DropDown{
        height: 0;
        & a{
            display: none;
        }
    }
    .Navbar{
        flex-direction: column;
        align-items: center;
        transition: all .3s linear;
        font-size: 1.5em;
        border: none;
        margin: 0;
        padding: 0;
        & a{
            border-bottom: 1px solid #dcdcdc;
            width: 100%;
            padding: 10px 0px;
            text-align: center;
        }
    }
}