.Home{
    margin: auto;
    max-width: 70vw;
}
.Thumbnails{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 12em 12em;
    gap: 20px;
    /* padding: 20px; */
}
.Thumb , .Bottom_Thumb{
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px 20px;
    text-shadow: 2px 2px 2px rgb(112, 85, 184);
    & .head{
        height: 65px;
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 500;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    & .foot{
        font-size: .7rem;
        color: #fcfcfc;
        letter-spacing: 0.85px;
        & span{
            font-weight: 500;
        }
    }
}
.Thumb1{
    padding: 0 17px 50px;
    grid-row: 1/3;
}
.Bottom_Thumb{
    height: 20em;
}

.Latest_Head , .Latest_Article_Head , .Top_Posts_Head , .Latest_Stories_Head{
    font-family: Montserrat,sans-serif;
    margin: 1em 0;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 1.5em;
        left: -2px;
        width: 2.5em;
        border-bottom: 3px solid #F08080;
        border-radius: 3px;
    }
}
.Latest_Article_Head::before{
    width: 3em;
}
.Latest{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.Latest_Card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.1);
    &:hover{
        transition: all .5s ease;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.584);
    }
    & > img{
        border-radius: 20px;
        height: 11rem;
        object-fit: cover;
    }
}

.Latest_Card_Overview{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
.Latest_Card_Head{
    height: 60px;
    font-size: 1.3em;
    color: #404040;
    font-weight: 500;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.Latest_Card_Subhead{
    font-size: .8rem;
    color: #908D8D;
    height: 50px;
    overflow: hidden;
    text-align: justify;
}
.Latest_Card_Foot{
    font-size: .7rem;
    color: #908d8d;
    letter-spacing: 0.85px;
    margin-top: auto;
    padding-top: 10px;
    & span{
        color: #404040;
        font-weight: 500;
    }
}

.Latest_Article{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    /* flex-direction: row; */
}
.section_1{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.section_2{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Advertisement{
    width: 100%;
    object-fit: fill;
}