.Home{
    margin: auto;
    padding-top: 8.5em;
    max-width: 70vw;
}
.Thumbnails{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 12em 12em;
    gap: 1.25em;
}
.Thumb , .Bottom_Thumb{
    position: relative;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000001A;
    overflow: hidden;
    & .Text_Box{
        position: absolute;
        bottom: 0;
        background-color: #1b1b1bad;
        padding: 5px 2px;
    }
    & .head{
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 500;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    & .foot{
        font-size: .7rem;
        color: #fcfcfc;
        letter-spacing: 0.85px;
        margin-top: 5px;
        & span{
            font-weight: 500;
        }
    }
}
.Thumb1{
    grid-row: 1/3;
}
.Bottom_Thumb{
    height: 20em;
}
.Latest_Head , .Latest_Article_Head , .Top_Posts_Head , .Latest_Stories_Head{
    font-family: Montserrat,sans-serif;
    margin: 1em 0;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 1.5em;
        width: 2.5em;
        border-bottom: 3px solid #F08080;
        border-radius: 3px;
    }
}
.Latest_Article_Head::before ,.Latest_Stories_Head::before{
    width: 3em;
}
.Latest , .Latest_Stories{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
.Latest_Card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.1);
    transition: all .5s ease;
    &:hover{
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.584);
    }
    & > img{
        border-radius: 20px;
        height: 11rem;
        object-fit: cover;
    }
    & .Latest_Card_Overview{
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 0px 10px;
    }
    & .Latest_Card_Head , .Latest_Card_Subhead{
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    & .Latest_Card_Head{
        font-size: 1.3em;
        color: #404040;
        font-weight: 500;
        -webkit-line-clamp: 3;
    }
    & .Latest_Card_Subhead{
        font-size: .8rem;
        color: #908D8D;
        -webkit-line-clamp: 3;
        text-align: justify;
    }
    & .Latest_Card_Foot{
        font-size: .7rem;
        margin-top: 2em;
        letter-spacing: 0.85px;
        color: #908d8d;
        & span{
            color: #404040;
            font-weight: 500;
        }
    }
}
.Latest_Article{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    & .section_1 , .section_2{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    & .section_1{
        width: 60%;
    }
    & .section_2{
        width: 30%;
        margin-top: 7.5em;
    }
}
.Stories{
    & .Stories_Overview{
        gap: 0.5em;
        & .Stories_Subhead{
            -webkit-line-clamp: 7;
        }  
    }  
}

@media screen and (max-width: 900px){
    .Home{
        max-width: 80vw;
    }
    .Thumbnails{
        grid-template-rows: 8em 8em;
    }
    .Thumb , .Bottom_Thumb{
        & .head{
            font-size: 1rem;
        }
        & .foot{
            font-size: .5rem;
        }
    }
    .Bottom_Thumb{
        height: 12em;
    }
    .Latest_Head , .Latest_Article_Head , .Top_Posts_Head , .Latest_Stories_Head , .Latest , .Latest_Stories{
        margin: 0.7em 0;
    }
    .Latest_Card{
        & > img{
            height: 7rem;
        }
        & .Latest_Card_Overview{
            padding: 0px;
        }
        & .Latest_Card_Head{
            font-size: 1em;
        }
        & .Latest_Card_Subhead{
            font-size: 0.7rem;
        }
        .Latest_Card_Foot{
            font-size: 0.6rem;
        }
        
    }
}

@media only screen and (min-width:280px) and (max-width:555px){
    .Home{
        max-width: 95%;
        /* padding-top: 5em; */
    }
    .Thumb{
        display: none;
    }
    .Thumbnails , .Thumb1{
        height: 20em;
        width: 100%;
        display: block;
    }
    .Thumb1{
        & .head{
            font-size: 1.5rem;
        }
        & .foot{
            font-size: .7rem;
        }
    }
    /* .Thumb{
        height: 20em;
        width: 100%;
        position: absolute;
        animation: sliding 2s infinite ;
    } */
    /* .Thumbnails{
        width: 100%;
        height: 20em;
        position: relative;
    }    */
    /* @keyframes sliding{
        0% {
            left: 2em;
        }
        100% {
            left: 1em;
        }
    } */
    .Latest_Head , .Latest_Stories_Head{
        margin: 1em 1em;
    }
    .Latest , .Latest_Stories{
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        margin: 1em 0em;
    }
    .Latest_Card{
        width: 90%;
        border-radius: 10px;
        & > img{
            border-radius: 10px;
            height: 12rem;
        }
        & .Latest_Card_Overview{
            gap: 0.5em;
        }
        & .Latest_Card_Head{
            font-size: 1.3em;
            -webkit-line-clamp: 2;
        }
        & .Latest_Card_Subhead{
            font-size: .8rem;
        }
        & .Latest_Card_Foot{
            font-size: .7rem;
            margin-top: 0em;
        }
    }
    .Latest_Article_Head , .Top_Posts_Head{
        margin: 0.7em 0.5em;
    }
    .Latest_Article{
        align-items: center;
        flex-direction: column;
        & .section_1{
            width: 90%;
        }
        & .section_2{
            width: 90%;
            margin-top: 0em;
        }
    }
    .Stories{
        padding: 10px;
        & .Stories_Foot{
            margin-top: 2em;
        }      
    }
    .Bottom_Thumb , .Advertisement{
        display: none;
    }
}