.Main-Body{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
}
.Left-Tile{
    width: 65%;
}
.Right-Tile{
    width: 30%;
}
.Tile-Head{
    font-size: 2.5em;
    font-weight: 500;
}
.bottom-line {
    border: 2px solid #f08080;
    margin: 10px 0px;
    width: 70px;
}
.All-Cards , .Top-Cards{
    display: flex;
    flex-direction: column;
    gap: 2em;
    transition: all 2s ease;
    transition-delay: 2s;
}
.Toggle_Button{
    display: flex;
    gap: 20px;
    margin: 30px 0px;
    font-size: 20px;
    cursor: pointer;
}
.Hide{
    display: none;
    transition: all 2s ease;
    transition-delay: 2s;
}